#user-actions li:hover::after{
    content: "";
    display: block;
    background-color: black;
    height: 3px;
    border-radius: 3px;
    position: relative;
    bottom: 3px;
}

.button-blue:hover{
    opacity: 0.7;
}

.button-white:hover{
    filter: invert(.1);
}

.q-a:hover .answer{
    display: block;
    margin-top: 15px;
}

#user-actions li:hover{
    position: relative;
}

#user-actions li:hover .dropdown{
    display: block;
    position: absolute;
}