*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general rules */
body{
    font-family: 'Open Sans', sans-serif;
}

a:not(.link){
    text-decoration: none;
}

a:not(.link, .button-blue){
    color: inherit;
}

.button-blue{
    display: inline-block;
    text-align: center;
    background-color: #0061FF;
    color: white;
}

.button-white{
    display: inline-block;
    text-align: center;
    border: 1px solid #000;
    background-color: #fff;
}

.bold-text{
    font-weight: bold;
}

h2{
    font-size: 32px;
    margin-bottom: 40px;
}

/* navigation bar rules */
#user-actions{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 1%;
    background-color: #fff;
    font-size: 15px;
}

#user-actions .flex-part{
    height: 100%;
    display: flex;
    align-items: center;
}

#user-actions ul{
    display: inline-block;
    height: 100%;
}

#user-actions li{
    list-style: none;
    display: inline-block;
    height: 100%;
    margin: 0 15px;
}

#user-actions li a{
    /* to center nav elements, same value as the nav height */
    line-height: 60px;
}

#user-actions .button-blue{
    padding: 5px 13px;
}

/* header rules */
header{
    margin-top: 60px;
    background-color: #B4D0E7;
    padding: 60px 19% 1px;
    font-size: 14px;
}

h1{
    font-weight: 900;
    font-size: 61px;
    margin-bottom: 30px;
}

#jumbo{
    float: right;
    width: 66%;
}

header .button-blue{
    padding: 7px 15px;
    margin: 18px 0;
}

#arrow-down{
    display: block;
    font-size: 40px;
    margin: 35px 0 4px;
}

/* main rules */
main{
    margin-top: 130px;
    font-size: 12px;
}

.center-container{
    width: 50%;
    margin: 0 auto;
}

/* checbox rules */
.fake-checkbox{
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-bottom: 30px;
}

#check1{
    border: 4px solid #0061FF;
    border-radius: 50%;
}

#check2{
    border: 2px solid #D1D1D4;
    border-radius: 50%;
}

.fake-option{
    display: inline-block;
    line-height: 16px;
    vertical-align: top;
    margin-right: 30px;
    font-size: 12px;
}

/* plans info rules */
main .flex-container{
    display: flex;
    justify-content: space-between;
}


.flex-container .plan-col{
    width: calc((100% - 50px) / 3);
    margin-bottom: 25px;
}

.plan-icon{
    border: solid #D0D0D3;
    border-width: 1px 1px 0;
    text-align: center;
    padding: 7px 0;
}

.plan{
    border: 1px solid #D0D0D3;
    padding: 20px 15px;
}

.plan-col .plan{
    height: calc(100% - 31px);
}

.plan .more-center{
    margin: 0 5px;
}

.plan h3{
    font-size: 20px;
}

.plan .plan-price{
    font-weight: bold;
    margin: 10px 0;
}

.plan .period{
    color: #D0D0D3;
    margin-bottom: 35px;
}

.plan-col .plan .button-blue{
    padding: 7px;
    width: 100%;
    margin: 35px 0 20px;
}

.short-line{
    width: 20%;
    height: 1px;
    background-color: #D0D0D3;
    margin: 25px 0 30px;
}

.plan-col .bold-text{
    margin-bottom: 20px;
}

.plan li{
    list-style: none;
    margin: 15px 0;
    display: flex;
    gap: 5px;
} 

.plan li .blue-check{
    color:#0061FF;
}

.plan.flex-container{
    align-items: flex-start;
}

.plan.flex-container .flex-item{
    width: 75%;
}

.plan.flex-container .bold-text{
    margin: 15px 0 30px;
}

.plan.flex-container .button-blue{
    width: 194px;
    padding: 7px 0;
}

/* section 2 main rules */
#partner{
    margin: 100px 0;
    font-size: 13px;
}

#partner img{
    width: 62.5%;
}

#partner .flex-item{
    padding: 40px 0;
    width: 32%;
}

#partner h3{
    font-size: 20px;
}

#partner p{
    margin: 15px 0 20px;
}

#partner .button-white{
    padding: 7px 10px;
}

/* Dropbox Business features rules */
#dropbox-business .flex-container{
    flex-wrap: wrap;
    row-gap: 40px;
    font-size: 13px;
    margin-bottom: 100px;
}

.business-attribute{
    width: calc((100% - 50px) / 3);
}

.business-attribute h3{
    font-size: 20px;
    margin-bottom: 25px;
}

.business-attribute img{
    width: 100%;
}

.center-container > .link{
    display: block;
    margin-bottom: 100px;
}

/* slideshow rules */
#customers{
    display: flex;
}

#customers > *{
    width: calc(100% / 3);
}

.customers-group{
    display: flex;
    flex-wrap: wrap;
}

.customer-square{
    width: 50%;
    padding: 0 12%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
}

.customer-square img{
    width: 100%;
    filter: invert(1);
}

#slideshow{
    background-color: #F5F5F5;
    padding: 35px;
    font-size: 13px;
}

#slideshow img{
    width: 50%;
}

#slideshow p{
    margin-bottom: 40px;
}

/* client cards */
#designit{
    background-color: #A2D39B;
    border: #D1E9CD 10px solid;
    padding: 0 calc(12% - 10px);
}

#asu{
    background-color: #61082B;
}

#uf{
    background-color: #0093CE;
}

#topps{
    background-color: #FF1C1C;
}

#wbr{
    background-color: #D5001F;
}

#hearst{
    background-color: #B4D0E7;
}

#lp{
    background-color: #0D2481;
}

#cco{
    background-color: #FFD830;
}



#free-trial{
    background-color: #B4D0E7;
    /* DEBUG */
    height: 250px;
}

#faq{
    /* DEBUG */
    height: 300px;
    background-color: pink;
}

footer{
    background-color: #000;
    color: #fff;
    /* DEBUG */
    height: 300px;
}